[tool.poetry]
name = "pyuow"
version = "0.1.0"
description = ""
authors = ["SMED"]
maintainers = [
    "Sviatoslav Mosorko <slavikmosorko@gmail.com>",
    "Andrii Divnych <divnycha05@gmail.com>",
]

readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
pytest-cov = "^4.1.0"
isort = "^5.12.0"
pre-commit = "^3.3.3"
pytest-asyncio = "^0.21.1"
autoflake = "^2.2.0"
mypy = "^1.5.1"
coverage = { version = "^7.3.0", extras = ["toml"] }
black = "^23.7.0"
safety = "^2.3.5"
greenlet = { version = "^2.0.2" }

[tool.pytest.ini_options]
asyncio_mode = "auto"
addopts = "-xvrs --color=yes"
junit_family = "xunit2"
testpaths = [
    "tests",
]

[tool.coverage.run]
branch = true
omit = [
    "tests/*",
]
concurrency = ["greenlet"]

[tool.coverage.report]
show_missing = true
skip_covered = true
fail_under = 99

[tool.black]
line-length = 79
target-version = [
    "py311",
]
include = "\\.pyi?$"
exclude = """
    (
      /(
          \\.git
        | \\.venv
      )/
    )"""

[tool.isort]
profile = "black"
line_length = 79

[tool.autoflake]
check = false
in-place = true
recursive = true
expand-star-imports = true
remove-all-unused-imports = true
ignore-init-module-imports = true
remove-duplicate-keys = true
remove-unused-variables = true

[tool.mypy]
python_version = "3.11"
strict_optional = true
strict_equality = true
check_untyped_defs = true
no_implicit_optional = true
disallow_any_unimported = true
disallow_any_generics = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_decorators = true
warn_redundant_casts = true
warn_return_any = true
warn_unused_configs = true
warn_unused_ignores = true
warn_no_return = true
show_error_codes = true
show_column_numbers = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
